/mobile/node_modules
/server/node_modules
/web/node_modules

/mobile/.expo/*
/mobile/npm-debug.*
/mobile/*.jks
/mobile/*.p8
/mobile/*.p12
/mobile/*.key
/mobile/*.mobileprovision
/mobile/*.orig.*
/mobile/web-build/

/mobile/.DS_Store
/server/.DS_Store
/web/.DS_Store
